<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icecream.good.mapper.DiscoverGoodsMapper">
  <resultMap id="BaseResultMap" type="com.icecream.common.model.pojo.DiscoverGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="discover_displayid" jdbcType="INTEGER" property="discoverDisplayid" />
    <result column="goodsid" jdbcType="INTEGER" property="goodsid" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="ctime" jdbcType="INTEGER" property="ctime" />
    <result column="mtime" jdbcType="INTEGER" property="mtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sid, discover_displayid, goodsid, goods_sn, score, ctime, mtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from discover_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from discover_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icecream.common.model.pojo.DiscoverGoods">
    insert into discover_goods (id, sid, discover_displayid, 
      goodsid, goods_sn, score, 
      ctime, mtime)
    values (#{id,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{discoverDisplayid,jdbcType=INTEGER}, 
      #{goodsid,jdbcType=INTEGER}, #{goodsSn,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, 
      #{ctime,jdbcType=INTEGER}, #{mtime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.icecream.common.model.pojo.DiscoverGoods">
    insert into discover_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="discoverDisplayid != null">
        discover_displayid,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="goodsSn != null">
        goods_sn,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="discoverDisplayid != null">
        #{discoverDisplayid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsSn != null">
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=INTEGER},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icecream.common.model.pojo.DiscoverGoods">
    update discover_goods
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="discoverDisplayid != null">
        discover_displayid = #{discoverDisplayid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsSn != null">
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=INTEGER},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icecream.common.model.pojo.DiscoverGoods">
    update discover_goods
    set sid = #{sid,jdbcType=INTEGER},
      discover_displayid = #{discoverDisplayid,jdbcType=INTEGER},
      goodsid = #{goodsid,jdbcType=INTEGER},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=INTEGER},
      mtime = #{mtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectGoodsIdByDiscoverId" parameterType="java.util.List" resultMap="BaseResultMap">
   select * from discover_goods where discover_displayid = #{discoverId} and score>#{frontScore} order by score desc
  </select>

</mapper>