<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icecream.user.mapper.MybatisUserAuthMapper">
  <resultMap id="BaseResultMap" type="com.icecream.common.model.pojo.UserAuth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="identity_type" jdbcType="TINYINT" property="identityType" />
    <result column="identifier" jdbcType="VARCHAR" property="identifier" />
    <result column="credential" jdbcType="VARCHAR" property="credential" />
    <result column="is_sync" jdbcType="BIT" property="isSync" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, identity_type, identifier, credential, is_sync
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from user_auth
  where id = #{id,jdbcType=INTEGER}
</select>

  <select id="isHaveBeenRegistered"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_auth
    where identity_type =#{identity_type} and identifier =#{identifier}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icecream.common.model.pojo.UserAuth">
    insert into user_auth (id, uid, identity_type, 
      identifier, credential, is_sync
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{identityType,jdbcType=TINYINT}, 
      #{identifier,jdbcType=VARCHAR}, #{credential,jdbcType=VARCHAR}, #{isSync,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.icecream.common.model.pojo.UserAuth">
    insert into user_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="identityType != null">
        identity_type,
      </if>
      <if test="identifier != null">
        identifier,
      </if>
      <if test="credential != null">
        credential,
      </if>
      <if test="isSync != null">
        is_sync,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="identityType != null">
        #{identityType,jdbcType=TINYINT},
      </if>
      <if test="identifier != null">
        #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="credential != null">
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="isSync != null">
        #{isSync,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icecream.common.model.pojo.UserAuth">
    update user_auth
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="identityType != null">
        identity_type = #{identityType,jdbcType=TINYINT},
      </if>
      <if test="identifier != null">
        identifier = #{identifier,jdbcType=VARCHAR},
      </if>
      <if test="credential != null">
        credential = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="isSync != null">
        is_sync = #{isSync,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icecream.common.model.pojo.UserAuth">
    update user_auth
    set uid = #{uid,jdbcType=INTEGER},
      identity_type = #{identityType,jdbcType=TINYINT},
      identifier = #{identifier,jdbcType=VARCHAR},
      credential = #{credential,jdbcType=VARCHAR},
      is_sync = #{isSync,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>